# Setup these environment variables in your .env file if you want to run via docker-compose
TENANT_ID=47dd6b24-0b23-46b0-a662-776158d089ba
JWT_SECRET=auth_ms_jwt_secret
ADMIN_JWT_SECRET=admin_auth_ms_jwt_secret
ADMIN_TENANT_ID=47dd6b24-0b23-46b0-a662-776158d089ba